$black-color   : #181d1f;
$white-color   : #FFFFFF;
$primary-color : #4d3377;

* {
   margin    : 0;
   padding   : 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background-color: $white-color;
   font-family     : 'Lato', sans-serif;
}

li {
   list-style: none;
}

a {
   color          : $primary-color;
   text-decoration: none;
}

h2 {
   margin-bottom: 20px;
   font-size    : 2.4rem;
   font-weight  : 700;
}

.btn {
   padding       : 0 20px;
   height        : 40px;
   font-size     : 1em;
   font-weight   : 900;
   text-transform: uppercase;
   border        : 3px black solid;
   border-radius : 2px;
   background    : transparent;
   cursor        : pointer;
}